<div class="menu app-menu">

  {% if perms.spl_discoveries.view_appointment %}
    {% if 'appointment-' in request.resolver_match.url_name %}
      <div class="menu-appointment menu-here">
        <a href="{% url 'spl_discoveries:appointment-list' %}">Appointments</a>
      </div>
    {% else %}
      <div class="menu-appointment">
        <a href="{% url 'spl_discoveries:appointment-list' %}">Appointments</a>
      </div>
    {% endif %}
  {% endif %}
  {% if perms.spl_discoveries.view_inquiry %}
    {% if 'inquiry-' in request.resolver_match.url_name %}
      <div class="menu-inquiry menu-here">
        <a href="{% url 'spl_discoveries:inquiry-list' %}">Inquirys</a>
      </div>
    {% else %}
      <div class="menu-inquiry">
        <a href="{% url 'spl_discoveries:inquiry-list' %}">Inquirys</a>
      </div>
    {% endif %}
  {% endif %}

</div>
