<div class="menu app-menu">

  <div class="menu object-menu">

    {% if perms.view_appointment %}
      {% if 'appointment-list' == request.resolver_match.url_name %}
        <div class="menu-appointment menu-list menu-here">
            List
        </div>
      {% else %}
        <div class="menu-appointment menu-list">
          <a href="{% url 'spl_discoveries:appointment-list' %}">List</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.view_appointment %}
      {% if 'appointment-detail' == request.resolver_match.url_name %}
        <div class="menu-appointment menu-detail menu-here">
            View
        </div>
      {% elif object.pk %}
        <div class="menu-appointment menu-detail">
          <a href="{% url 'spl_discoveries:appointment-detail' object.pk %}">View</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.add_appointment %}
      {% if 'appointment-create' == request.resolver_match.url_name %}
        <div class="menu-appointment menu-here menu-create">
          <button form="form_appointment" class="menu-appointment" type="submit" >Submit</button></form>
        </div>
      {% else %}
        <div class="menu-appointment menu-create">
          <a href="{% url 'spl_discoveries:appointment-create' %}">Add</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.change_appointment %}
      {% if 'appointment-update' == request.resolver_match.url_name %}
        <div class="menu-appointment menu-update menu-here">
          <button type="submit" form="form_appointment" class="menu-appointment menu-here" >Submit Changes</button>
        </div>
      {% elif object.pk %}
        <div class="menu-appointment menu-update">
          <a href="{% url 'spl_discoveries:appointment-update' object.pk %}">Edit</a>
        </div>
      {% endif %}
    {% endif %}

    {% if perms.delete_appointment %}
      {% if 'appointment-delete' == request.resolver_match.url_name %}
        <div class="menu-appointment menu-delete menu-here">
          <form method="POST" action="{% url 'spl_discoveries:appointment-delete' object.pk %}">
            {% csrf_token %}
            <button type="submit" class="menu-appointment" >Confirm Delete</button>
          </form>
        </div>
      {% elif object.pk %}
        <div class="menu-appointment menu-delete">
          <a href="{% url 'spl_discoveries:appointment-delete' object.pk %}">Delete</a>
        </div>
      {% endif %}
    {% endif %}


  </div>


</div>
