<div class="detail">
  <div class="detail">
  {% include 'touglates/detail_field.html' with label=inquiry_labels.name_full field=object.name_full %}
  {% include 'touglates/detail_field.html' with label=inquiry_labels.name_prefered field=object.name_prefered %}
  {% include 'touglates/detail_field.html' with label=inquiry_labels.summary field=object.summary %}
  {% include 'touglates/detail_field.html' with label=inquiry_labels.details field=object.details %}
  {% include 'touglates/detail_field.html' with label=inquiry_labels.availability field=object.availability %}
  {% include 'touglates/detail_field.html' with label=inquiry_labels.where_desired field=object.where_desired %}
  {% include 'touglates/detail_field.html' with label=inquiry_labels.date_submitted field=object.date_submitted %}

  <h3>Notes</h3><span id="div_inquiryNotes">Showing All </span><a href="#" id="a_toggleNotes">Show Flagged</a>
  {% for inquirynote in object.inquirynote_set.all %}
    <div class="relatedset relatedinquirynote level{{ inquiryNote.inquirynotelevel }} {% if inquirynote.flagged %} flagged{% endif %}" id="div_inquirynote-{{ forloop.counter0 }}">
      {% include 'touglates/list_fields.html' with field_1_label='Note:' field_1=inquirynote.when field_2=inquirynote.inquirynotecategory|default_if_none:'' field_3=inquirynote.maintext %}
    </div>
  {% endfor %}

</div>

